<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

  	<display-name>BRICCS Patient Lookup Service</display-name>
  	
  	<servlet>
		<servlet-name>patient-lookup-ws</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--+
	    | Servlet definition deals with business objects and content negotiation
	    | Settings for picking up a configuration properties file
	    +-->
	<servlet-mapping>
		<servlet-name>patient-lookup-ws</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!--+
	    | Txn definition deals with transactional aspects.
	    | Data definition deals with database and some mapping aspects.
	    +-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/patient-lookup-ws-txn.xml
			/WEB-INF/patient-lookup-ws-data.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
</web-app>